.hi{
  font-size: xx-large;
}
.presentacion {
  margin: 5%;
  font-size: x-large;
  text-align: center;
  background-color: #5DBB63;
  padding: 10px;
  }
body{
  background-color: #028A0F;
  font-family: "hwt-artz", sans-serif;
  font-weight: 700;
  font-style: normal;
}
